html {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-color: #121212;
    color: #f0f0f0;
    font-family: sans-serif;
    font-size: 120%;
}

body {
    margin: 32px;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    border-left: 3px solid #ff1493;
    background-image: linear-gradient(to left, #222020, #220202);
    padding-left: 9px;
    margin-left: -12px;
}
h1 { letter-spacing: 2px; }
h2 { letter-spacing: 1px; }

a:link {
    font-weight: bold;
    color: #ff1493;
    text-decoration: none;
    border-bottom: 0px solid #ff1493;
    transition: border-bottom-width 0.1s;
}
a:hover { border-bottom-width: 3px; }
a:visited { color: #ff1493; }
a.selected {
    color: white;
    border-bottom: 3px solid white;
}

ul {
    padding-left: 20px;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    border-left: 3px solid #222020;
    padding-left: 9px;
}

.main {
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.content {
    position: relative;
    height: 500px;
    padding: 32px;
    margin-top: 8px;
    background-color: #222020;
    border: 3px solid #ff1493;
    box-shadow: 10px 10px #222020;
}

.page, .page:target ~ #home {
    visibility: hidden;
}

#home, .page:target {
    visibility: visible;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    overflow-y: auto;
}

#log-output {
    font-family: monospace;
    max-height: 250px;
    overflow: auto;
    background: black;
    padding: 16px;
    border: 2px solid white;
}