name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Get original ijl15.dll
      run: wget "${IJL15_URL}"
      env:
        IJL15_URL: ${{ secrets.IJL15_URL }}
    - name: Install Nix
    - uses: cachix/install-nix-action@v19
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Configure
      run: nix develop --command make -j4 slipstream
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: ijl15.dll
        path: out/ijl15.dll
